In [2]:
import pandas as pd

df = pd.read_csv("Practical Example - Confidence Intervals.xlsx - Al Bundy.csv",skiprows=3, header=0)
df.set_index("InvoiceNo", inplace = True)

df = df.drop(columns = ["Unnamed: 0", "SalePrice", "Discount", "UnitPrice", "Size (Europe)", "Size (UK)", "Date"])
df.rename(columns = {"Unnamed: 12" : "Year"}, inplace=True)

df

                  Country  ProductID  Shop  Gender  Size (US)  Year  Month
InvoiceNo
52389      United Kingdom       2152   UK2    Male       11.0  2014      1
52390       United States       2230  US15    Male       11.5  2014      1
52391              Canada       2160  CAN7    Male        9.5  2014      1
52392       United States       2234   US6  Female        9.5  2014      1
52393      United Kingdom       2222   UK4  Female        9.0  2014      1
...                   ...        ...   ...     ...        ...   ...    ...
65773      United Kingdom       2154   UK2    Male        9.5  2016     12
65774       United States       2181  US12  Female       12.0  2016     12
65775              Canada       2203  CAN6    Male       10.5  2016     12
65776             Germany       2231  GER1  Female        9.5  2016     12
65777             Germany       2156  GER1  Female        6.5  2016     12

[14967 rows x 7 columns]

Making data frames to separate year, country and gender

In [16]:
men2016_us = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Male') & (df["Country"] == "United States")]
men2016_cn = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Male') & (df["Country"] == "Canada")]
men2016_uk = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Male') & (df["Country"] == "United Kingdom")]
men2016_ger = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Male') & (df["Country"] == "Germany")]

fem2016_us = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Female') & (df["Country"] == "United States")]
fem2016_cn = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Female') & (df["Country"] == "Canada")]
fem2016_uk = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Female') & (df["Country"] == "United Kingdom")]
fem2016_ger = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Female') & (df["Country"] == "Germany")]

8.0     311
8.5     216
9.0     206
7.5     151
9.5      75
7.0      66
6.5      52
10.5     45
12.0     29
5.5      23
6.0      21
10.0     20
11.5     19
11.0     12
4.5       8
5.0       4
Name: Size (US), dtype: int64

Making a frequency distribution table

In [17]:
grp_month = men2016_us.groupby("Month")
freq_table = grp_month["Size (US)"].value_counts().unstack()

freq_table

Size (US),6.0,6.5,7.0,7.5,8.0,8.5,9.0,9.5,10.0,10.5,11.0,11.5,12.0,13.0,14.0,15.0
Month,,,,,,,,,,,,,,,,
1,4.0,3.0,NaN,3.0,7.0,12.0,17.0,19.0,17.0,13.0,5.0,4.0,3.0,1.0,2.0,NaN
2,1.0,2.0,NaN,2.0,9.0,12.0,13.0,25.0,26.0,16.0,16.0,3.0,NaN,1.0,6.0,NaN
3,3.0,NaN,1.0,3.0,7.0,8.0,13.0,27.0,26.0,22.0,13.0,6.0,NaN,2.0,3.0,NaN
4,1.0,1.0,NaN,1.0,3.0,8.0,11.0,24.0,19.0,14.0,10.0,3.0,4.0,NaN,3.0,1.0
5,3.0,NaN,6.0,7.0,12.0,15.0,21.0,26.0,16.0,28.0,10.0,3.0,4.0,3.0,5.0,1.0
6,3.0,NaN,4.0,NaN,2.0,9.0,22.0,33.0,31.0,19.0,11.0,5.0,4.0,2.0,3.0,NaN
7,3.0,1.0,4.0,7.0,9.0,17.0,25.0,25.0,25.0,18.0,15.0,6.0,3.0,1.0,2.0,4.0
8,4.0,7.0,2.0,3.0,4.0,17.0,30.0,47.0,24.0,15.0,8.0,4.0,12.0,NaN,1.0,NaN
9,3.0,2.0,3.0,4.0,7.0,6.0,26.0,31.0,23.0,19.0,9.0,5.0,4.0,NaN,NaN,NaN
10,7.0,1.0,NaN,6.0,5.0,9.0,25.0,44.0,31.0,21.0,7.0,12.0,9.0,4.0,1.0,NaN
11,3.0,2.0,NaN,1.0,2.0,10.0,13.0,37.0,15.0,16.0,6.0,13.0,2.0,3.0,2.0,NaN
12,NaN,1.0,NaN,1.0,6.0,6.0,10.0,26.0,20.0,10.0,7.0,5.0,1.0,2.0,1.0,2.0