In [46]:
import pandas as pd

full_df = pd.read_csv("Practical Example - Confidence Intervals.xlsx - Al Bundy.csv",skiprows=3, header=0)
full_df.set_index("InvoiceNo", inplace = True)

full_df

,Unnamed: 0,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,Unnamed: 12,Month,SalePrice
InvoiceNo,,,,,,,,,,,,,,
52389,NaN,1/1/2014,United Kingdom,2152,UK2,Male,11.0,44,10.5,$ 159.00,0%,2014,1,$ 159.00
52390,NaN,1/1/2014,United States,2230,US15,Male,11.5,44-45,11.0,$ 199.00,20%,2014,1,$ 159.20
52391,NaN,1/1/2014,Canada,2160,CAN7,Male,9.5,42-43,9.0,$ 149.00,20%,2014,1,$ 119.20
52392,NaN,1/1/2014,United States,2234,US6,Female,9.5,40,7.5,$ 159.00,0%,2014,1,$ 159.00
52393,NaN,1/1/2014,United Kingdom,2222,UK4,Female,9.0,39-40,7.0,$ 159.00,0%,2014,1,$ 159.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65773,NaN,12/31/2016,United Kingdom,2154,UK2,Male,9.5,42-43,9.0,$ 139.00,0%,2016,12,$ 139.00
65774,NaN,12/31/2016,United States,2181,US12,Female,12.0,42-43,10.0,$ 149.00,0%,2016,12,$ 149.00
65775,NaN,12/31/2016,Canada,2203,CAN6,Male,10.5,43-44,10.0,$ 179.00,30%,2016,12,$ 125.30
65776,NaN,12/31/2016,Germany,2231,GER1,Female,9.5,40,7.5,$ 199.00,0%,2016,12,$ 199.00
65777,NaN,12/31/2016,Germany,2156,GER1,Female,6.5,37,4.5,$ 139.00,10%,2016,12,$ 125.10

In [50]:
men_df = full_df.loc[full_df["Gender"] == "Male"]
fem_df = full_df.loc[full_df["Gender"] == "Female"]
m_df = men_df[["Size (US)", "Month", "Country"]]
m_df["Month"] = m_df["Month"].astype("object")
f_df = fem_df[["Size (US)", "Month", "Country"]]
f_df["Month"] = _df["Month"].astype("object")

C:\Users\Sua\AppData\Local\Temp\ipykernel_13484\2033511716.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_df["Month"] = m_df["Month"].astype("object")

In [43]:
m_piv = pd.pivot_table(m_df, index = "Size (US)", columns = "Country", aggfunc = "sum")
m_piv

           Month
Country   Canada Germany United Kingdom United States
Size (US)
6.0          125     225             51           376
6.5           87     102             86           322
7.0          192     223            133           285
7.5          333     328             82           468
8.0          239     777            352           891
8.5         1357    1053            553          1482
9.0         2078    2472           1202          3317
9.5         2591    3821           1451          5056
10.0        1581    2734           1073          3678
10.5        1659    2981            939          3061
11.0         730     982            465          1342
11.5         553     783            288          1112
12.0         289     489            205           660
13.0         102     220             18           310
14.0          97     232            111           338
15.0         216     320             80           167

In [51]:
f_piv = pd.pivot_table(f_df, index = "Size (US)", columns = "Country", aggfunc = "sum")
f_piv

Empty DataFrame
Columns: []
Index: [4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0]