In [4]:
import pandas as pd
import numpy as np
from scipy import stats\

df = pd.read_csv("Practical Example - Confidence Intervals.xlsx - Al Bundy.csv",skiprows=3, header=0)
df.set_index("InvoiceNo", inplace = True)

test_df = pd.read_csv("Quantico.xlsx - Mutual Funds Performance.csv", skiprows=3, header=0)
test_df = test_df.drop(columns = ["Unnamed: 0"])

df = df.drop(columns = ["Unnamed: 0", "SalePrice", "Discount", "UnitPrice", "Size (Europe)", "Size (UK)", "Date"])
df.rename(columns = {"Unnamed: 12" : "Year"}, inplace=True)

test_df

         Date  Quant A  Quant B  Quant C
0    1/1/2019    9.89%   13.97%    2.86%
1    2/1/2019  -19.49%  -20.35%  -10.18%
2    3/1/2019   -5.89%    6.50%   19.00%
3    4/1/2019    7.92%  -18.76%   22.43%
4    5/1/2019  -12.90%  -18.14%  -10.27%
5    6/1/2019    6.54%   -5.53%   14.57%
6    7/1/2019  -19.42%  -11.04%    7.35%
7    8/1/2019   -5.18%    4.17%   -1.61%
8    9/1/2019    9.81%   11.58%  -19.17%
9   10/1/2019   11.99%  -11.81%    2.63%
10  11/1/2019   -9.18%   -9.56%   13.56%
11  12/1/2019    0.18%  -17.54%   16.49%
12   1/1/2020   -3.93%    4.96%    1.65%
13   2/1/2020   17.91%   -5.40%  -14.27%
14   3/1/2020    7.59%    8.05%  -11.17%
15   4/1/2020   21.05%    6.83%   -7.70%
16   5/1/2020    6.01%  -18.39%   17.66%
17   6/1/2020   11.74%  -11.51%   -5.76%
18   7/1/2020  -15.23%    2.56%    2.65%
19   8/1/2020   -3.90%   -7.60%   -5.90%
20   9/1/2020    5.83%   -4.63%   20.26%
21  10/1/2020  -12.57%  -16.77%   10.51%
22  11/1/2020    8.94%    3.18%    5.27%
23  12/1/2020  -18.05%   -1.07%   -7.95%
24   1/1/2021  -15.61%  -10.92%  -11.00%
25   2/1/2021   10.29%    1.02%   16.99%
26   3/1/2021   14.77%   11.58%   12.83%
27   4/1/2021    2.89%   -3.51%   -5.61%
28   5/1/2021   -2.70%  -10.87%  -14.18%
29   6/1/2021  -13.64%   -9.32%   17.16%
30   7/1/2021   13.87%    0.58%   22.00%
31   8/1/2021   -5.72%    3.52%  -13.24%
32   9/1/2021    6.72%    7.32%  -11.94%
33  10/1/2021  -13.70%   11.25%   15.04%
34  11/1/2021   -3.42%   -5.04%   13.15%
35  12/1/2021   16.10%  -15.37%   11.58%
36        NaN      NaN      NaN      NaN
37        NaN      NaN      NaN      NaN
38        NaN      NaN      NaN      NaN
39        NaN      NaN      NaN      NaN
40       Mean    0.26%      NaN      NaN

Making data frames to separate year, country and gender

In [3]:
men2016_us = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Male') & (df["Country"] == "United States")]
men2016_cn = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Male') & (df["Country"] == "Canada")]
men2016_uk = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Male') & (df["Country"] == "United Kingdom")]
men2016_ger = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Male') & (df["Country"] == "Germany")]

fem2016_us = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Female') & (df["Country"] == "United States")]
fem2016_cn = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Female') & (df["Country"] == "Canada")]
fem2016_uk = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Female') & (df["Country"] == "United Kingdom")]
fem2016_ger = df.loc[(df['Year'] == 2016) & (df['Gender'] == 'Female') & (df["Country"] == "Germany")]

Making a frequency distribution table

In [41]:
grp_month = men2016_us.groupby("Month")
freq_table = grp_month["Size (US)"].value_counts().unstack().fillna(0)

freq_table

Size (US),6.0,6.5,7.0,7.5,8.0,8.5,9.0,9.5,10.0,10.5,11.0,11.5,12.0,13.0,14.0,15.0
Month,,,,,,,,,,,,,,,,
1,4.0,3.0,0.0,3.0,7.0,12.0,17.0,19.0,17.0,13.0,5.0,4.0,3.0,1.0,2.0,0.0
2,1.0,2.0,0.0,2.0,9.0,12.0,13.0,25.0,26.0,16.0,16.0,3.0,0.0,1.0,6.0,0.0
3,3.0,0.0,1.0,3.0,7.0,8.0,13.0,27.0,26.0,22.0,13.0,6.0,0.0,2.0,3.0,0.0
4,1.0,1.0,0.0,1.0,3.0,8.0,11.0,24.0,19.0,14.0,10.0,3.0,4.0,0.0,3.0,1.0
5,3.0,0.0,6.0,7.0,12.0,15.0,21.0,26.0,16.0,28.0,10.0,3.0,4.0,3.0,5.0,1.0
6,3.0,0.0,4.0,0.0,2.0,9.0,22.0,33.0,31.0,19.0,11.0,5.0,4.0,2.0,3.0,0.0
7,3.0,1.0,4.0,7.0,9.0,17.0,25.0,25.0,25.0,18.0,15.0,6.0,3.0,1.0,2.0,4.0
8,4.0,7.0,2.0,3.0,4.0,17.0,30.0,47.0,24.0,15.0,8.0,4.0,12.0,0.0,1.0,0.0
9,3.0,2.0,3.0,4.0,7.0,6.0,26.0,31.0,23.0,19.0,9.0,5.0,4.0,0.0,0.0,0.0
10,7.0,1.0,0.0,6.0,5.0,9.0,25.0,44.0,31.0,21.0,7.0,12.0,9.0,4.0,1.0,0.0
11,3.0,2.0,0.0,1.0,2.0,10.0,13.0,37.0,15.0,16.0,6.0,13.0,2.0,3.0,2.0,0.0
12,0.0,1.0,0.0,1.0,6.0,6.0,10.0,26.0,20.0,10.0,7.0,5.0,1.0,2.0,1.0,2.0

Calculating the mean and standar error with the frequency table

In [30]:
every_mean = freq_table.mean().round(2)
column_mean = freq_table[6.0].mean()

every_stderr = freq_table.sem().round(2)
column_stderr = freq_table[6.0].sem().round(2)

Size (US)
6.0      3.18
6.5      2.22
7.0      3.33
7.5      3.45
8.0      6.08
8.5     10.75
9.0     18.83
9.5     30.33
10.0    22.75
10.5    17.58
11.0     9.75
11.5     5.75
12.0     4.60
13.0     2.11
14.0     2.64
15.0     2.00
dtype: float64

Function to print confidence intervals

In [47]:
confidence_interval = 0.95

def conf_int_t(freq_table, confidence):
    for col in freq_table.columns:
        col_data = freq_table[col]
        mean = np.mean(col_data)
        std_error = stats.sem(col_data)
        lower_bound, upper_bound = stats.t.interval(confidence_interval, len(col_data) - 1, mean, std_error)
        mean = round(np.mean(col_data), 2)
        lower_bound = round(lower_bound, 2)
        upper_bound = round(upper_bound, 2)
        print(f"{col}: Mean={mean}, 95% Confidence Interval=({lower_bound}, {upper_bound})")
        
conf_int_t(freq_table, confidence_interval)

6.0: Mean=2.92, 95% Confidence Interval=(1.78, 4.05)
6.5: Mean=1.67, 95% Confidence Interval=(0.45, 2.89)
7.0: Mean=1.67, 95% Confidence Interval=(0.33, 3.0)
7.5: Mean=3.17, 95% Confidence Interval=(1.64, 4.7)
8.0: Mean=6.08, 95% Confidence Interval=(4.14, 8.03)
8.5: Mean=10.75, 95% Confidence Interval=(8.28, 13.22)
9.0: Mean=18.83, 95% Confidence Interval=(14.5, 23.17)
9.5: Mean=30.33, 95% Confidence Interval=(24.95, 35.72)
10.0: Mean=22.75, 95% Confidence Interval=(19.3, 26.2)
10.5: Mean=17.58, 95% Confidence Interval=(14.57, 20.59)
11.0: Mean=9.75, 95% Confidence Interval=(7.53, 11.97)
11.5: Mean=5.75, 95% Confidence Interval=(3.63, 7.87)
12.0: Mean=3.83, 95% Confidence Interval=(1.6, 6.06)
13.0: Mean=1.58, 95% Confidence Interval=(0.75, 2.42)
14.0: Mean=2.42, 95% Confidence Interval=(1.32, 3.52)
15.0: Mean=0.67, 95% Confidence Interval=(-0.12, 1.45)

In [ ]:
grp_a = test_df.group_by("Quant A")
grp_b = test_df.group_by("Quant B")
grp_c = test_df.group_by("Quant C")